.background {
    height: 100%;
    background-image: url('../Images/UI/Background/gradient.png');
    background-size: contain;
    background-attachment: fixed;
}

.stripedbg {
    /* background-image: linear-gradient(-45deg,transparent 25%,rgba(0,0,0,.041666) 0,rgba(0,0,0,.041666) 50%,transparent 0,transparent 75%,rgba(0,0,0,.041666) 0,rgba(0,0,0,.041666)),linear-gradient(#5eb0ff,#0a299a); */
    background-image: linear-gradient(-45deg,transparent 25%,rgba(0,0,0,.041666) 0,rgba(0,0,0,.041666) 50%,transparent 0,transparent 75%,rgba(0,0,0,.041666) 0,rgba(0,0,0,.041666));
    background-size: .75rem .75rem,100%
}

.gradient-stripedbg {
    background-image: linear-gradient(-45deg,transparent 25%,rgba(0,0,0,.041666) 0,rgba(0,0,0,.041666) 50%,transparent 0,transparent 75%,rgba(0,0,0,.041666) 0,rgba(0,0,0,.041666)),linear-gradient(#00a3fd,#001c70);
    background-size: .75rem .75rem,100%
    /* background-image: url('../Images/UI/Background/gradient.png');
    background-size: contain;
    background-attachment: fixed; */
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    /* border-bottom: 3px solid #fff; */
    width: 100%;
    /* margin-bottom: 5px; */
}

.headerText {
    font-family: tour;
    text-align: center;
    color: white;
    font-weight: bold;
}

.headerImg {
    height: 60%;
    width: 30px;
    object-fit: contain;
    padding: 5px;
}

.headerSeparator {
    background: white;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.items {
    height: 920px;
    /* width: 1280px; */
    margin: 0 auto;
}

.dkgContainer {
    /* background-color: rgba(0,0,0,0.5); */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
}

.dkgPanel {
    width:150px;
    height: 194px;
    margin: 1.5px;
    position: relative;
    display: inline-block;
}

.bgImg {
    display: inline-block;
    width:100%;
    position: absolute;
}

.newDriver {
    /* width: 100%;
    height: 87%;
    position: absolute;
    object-fit: contain;
    transform-origin: top left; */
    /* width: 87%;
    height: 87%;
    position: absolute;
    padding: 4% 6% 15%; */
    /* transform: scale(0.735); */

    /* width: 90%;
    height: 90%;
    position: absolute;
    padding: 6% 6% 15%; */

    /* max-width: 90%;
    position: absolute;
    max-height: 90%; */
/* 
    transform-origin: top left;
    transform: scale(0.647);
    position: relative; */
}

.newKartPart {
    width: 76%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 17px;
}

.frameImg {
    width:100%;
    position: absolute;
}

.settingDiv {
    width: 100%;
    display: flex;
    background-color: rgba(0,0,0, 0.5);
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    border-radius: 5px;
    min-width: 400px;
}

.settingLabel {
    display: inline-block;
    font-family: tour;
    color: white;
    font-size: 12px;
}

.settingAmount {
    display: inline-block;
    width: 35px;
    height: 18px;
    margin-left: 8px;
}

.settingRemove {
    display: inline-block;
    padding: 2px 12px;
    font-family: tour;
    background-image: url('../Images/UI/Modal/blankBtn.png');
    background-size: 100% 100%;
    color: white;
    border-radius: 5px;
}

.settingAdd {
    display: inline-block;
    padding: 2px 16px;
    font-family: tour;
    background-image: url('../Images/UI/Modal/blankBtn.png');
    background-size: 100% 100%;
    color: white;
    border-radius: 5px;
}

.itemsDiv {
    margin: 0 auto;
}

.panelNewIcon {
    /* width: 32px;
    height: auto;
    margin-top: -4px;
    margin-left: -3px;
    position: absolute;
    z-index: 11; */

    width: 76.8px;
    height: auto;
    margin-top: -10px;
    margin-left: -7px;
    position: absolute;
    z-index: 11;
}

.newDKGBox {
    /* width: 90%; */
    /* padding: 6% 6% 15%; */
     /* height: 90%; */

    /* padding: 4px 7px;
    position: absolute; */


    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newKartWingBox {

}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    z-index: 15;
}

.modal-content {
    margin: auto;
    background-color: #fff;
    position: absolute;
    padding: 0;
    outline: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    border-radius: 7px;
}

.modal-container {
    padding: 1em 16px;
    width: 500px;
    height: 425px;
}

.exit-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2% 2.5%;
    color: white;
    background-color: rgba(0,0,0, 0.36);
    border-radius: 5px;
}
.exit-button:hover {
    color: #000;
    background-color: red;
    cursor: pointer;
}


@-webkit-keyframes fadeIn {
    from {
        -webkit-transform: translate(-50%,-50%), scale(0.7);
        opacity: 0;
    }
  
    to {
        -webkit-transform: translate(-50%,-50%), scale(1);
        opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
        transform: translate(-50%,-50%) scale(0.5);
        opacity: 0.2;
    }
  
    to {
        transform: translate(-50%,-50%) scale(1);
        opacity: 1;
    }
  }
  .fadeIn {
    -webkit-animation: fadeIn 0.15s;
    animation: fadeIn 0.15s;
  }

  .livePanel {
    padding: 10px;
    display: inline-block;
    width: 230px;
  }

  .panelSettings {
    display: inline-block;
    width: 250px;
    height: 284px;
    vertical-align: top;
    padding: 12px 0px;
  }

  .flexBox {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.36);
    padding: 10px;
    border-radius: 10px;
  }

  .replaceImgBtn {
    height:48px;
  }

  .scaleDiv {
    display: flex;
    color: white;
    font-family: tour;
    align-items: center;
  }

  .scaleLabel {
    width: 80px;
    margin: 5px;
    height: 20px;
    display: inline-block;
  }

  .scaleInput {
    margin: 10px 0px;
    width: 140px;
    height: 20px;
    display: inline-block;
  }

  .xOffsetDiv {
    display: flex;
    color: white;
    font-family: tour;
    align-items: center;
  }

  .xOffsetLabel {
    width: 80px;
    margin: 5px;
    height: 20px;
    display: inline-block;
  }

  .xOffsetInput {
    margin: 10px 0px;
    width: 140px;
    height: 20px;
    display: inline-block;
  }

  .yOffsetDiv {
    display: flex;
    color: white;
    font-family: tour;
    align-items: center;
  }

  .yOffsetLabel {
    width: 80px;
    margin: 5px;
    height: 20px;
    display: inline-block;
  }


  .yOffsetInput {
    margin: 10px 0px;
    width: 140px;
    height: 20px;
    display: inline-block;
  }

  .raritySelect {
    margin: 8px 0;
    height: 30px;
    text-align: center;
  }

  .resetSliders {
    height: 30px;
    margin-top: 5px;
  }

  .footerDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .extendDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 10px auto;
  }

  .newToggleDiv {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.36);
    border-radius: 8px;
    padding: 5px;
  }

  .extendToggleDiv {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.36);
    border-radius: 8px;
    padding: 5px;
  }

  .levelEditDiv {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.36);
    border-radius: 8px;
    padding: 5px;
  }

  .pointsEditDiv {
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.36);
    border-radius: 8px;
    padding: 5px;
  }

  .toggleNewImg {
    height: 35px;
    display: inline-block;
  }

  .toggleInput {
    -webkit-appearance: none;
    width: 45px;
    height: 45px;
    background: #34547F;
    border-radius: 5px;
    border: 2px solid #2B466A;
    display: inline-block;
  }
  .toggleInput:checked {
    background: url('../Images/UI/Modal/Checked.png');
    background-size: auto;
    background-size: 40px 40px;
  }

  .deleteBtn {
    width: 93px;
    height: 45px;
    background-image: url('../Images/UI/Modal/Button.png');
    background-size: contain;
    color: red;
    font-family: tour;
    border-radius: 7px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .saveBtn {
    width: 93px;
    height: 45px;
    background-image: url('../Images/UI/Modal/Button.png');
    background-size: contain;
    color: white;
    font-family: tour;
    border-radius: 7px;
  }

  .introModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgba(0,0,0,0.36); */
    padding: 10px;
    border-radius: 10px;
    height: 410px;
  }

  .introRibbon {
    position: absolute;
  }


  .ribbonDiv {
    position: relative;
    height: 140px;
    width: 500px;
  }

  .ribbonTxt {
    position: absolute;
    width: 300px;
    font-family: tour_bold;
    color: white;
    margin: 20px 100px;
    font-size: 22px;
    text-align: center;
    line-height: 28px;
  }

  .inputBtns {
    width: 500px;
  }

  .toolGuide {
    width: 152px;
    height: 86px;
    background-image: url(../Images/UI/Modal/toolGuide.png);
    color: black;
    font-family: 'tour_bold';
    font-size: 18px;
    border-radius: 7px;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.startFresh {
  width: 152px;
  height: 86px;
  background-image: url(../Images/UI/Modal/toolGuide.png);
  color: black;
  font-family: 'tour_bold';
  font-size: 18px;
  border-radius: 7px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  filter:saturate(0);
}

.loadFile {
    width: 225px;
    height: 86px;
    background-image: url(../Images/UI/Modal/inputBtn.png);
    color: white;
    font-size: 18px;
    /* font-weight: bold; */
    font-family: 'tour';
    line-height: 18px;
    margin: 0px 12px;
    border-radius: 7px;
}

.downloadButton {
  width: 250px;
  margin: 0 auto;
  padding: 20px;
}

.savePanel {
  height: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.saveTxt {
  font-family: tour_bold;
  color: white;
  font-size: 22px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.autosaveTxt {
  font-family: tour;
  color: white;
  font-size: 12px;
  line-height: 22px;
  padding: 0px 16px;
  margin: 10px 0;
  text-align: center;
}

.saveSettingsFile {
  background-image: url(../Images/UI/Modal/inputBtn.png);
  width: 224px;
  height: 85px;
  color: white;
  font-family: tour;
  font-size: 16px;
  border-radius: 7px;
  margin: 10px 0;
}

.okDiv {
  width: 95%;
}

.okButton {
  width: 100%;
  padding: 7px;
  background-image: url(../Images/UI/Modal/okBtn.png);
  border-radius: 7px;
  background-size: 470px;
  color: white;
  font-family: tour;
}

.dkgImgPanel {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.itemBtn {
  background-image: url(../Images/UI/Modal/itemBtn.png);
  background-size: 80px 80px;
  width: 85px;
  height: 85px;
  border-radius: 7px;
}

.itemBtnImg {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.centerBtns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.tool_settings_header {
  font-family: tour;
  color: white;
  font-size: 28px;
  filter: drop-shadow(1px 1px 1px #000);
}

.specialItemDiv {
  height: 250px;
  overflow-y:auto;
  height: 250px;
  margin: 8px 12px;
  background-color: rgba(0,0,0,0.36);
  padding: 4px;
  display: inline-block;
  min-width: 470px;
  text-align: center;
}

.typeSelect {
  margin: 8px 0;
  width: 80px;
  height: 30px;
  text-align: center;
}

.specialItemImage {
  width: 75px;
}

.itemButtons {
  display: flex;
  width: 350px;
  justify-content: space-between;
}

.specialItem {
  display: inline-block;
  position: relative;
}

.specialItemX {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 0px 1px #FFF);
}

.extendTxt {
  width: 120px;
  margin: 5px;
  height: 42px;
  display: inline-block;
  color: white;
  font-family: tour;
  line-height: 20px;
}

.panelEdit {
  height: 300px;
}

.levelInput {
  -webkit-appearance: none;
  width: 45px;
  height: 45px;
  background: #34547F;
  border-radius: 5px;
  border: 2px solid #2B466A;
  display: inline-block;
  color: lime;
  text-align: center;
  font-size: 40px;
  font-family: "tour";
}

.pointsInput {
  -webkit-appearance: none;
  width: 70px;
  height: 45px;
  background: #34547F;
  border-radius: 5px;
  border: 2px solid #2B466A;
  display: inline-block;
  color: darkorange;
  text-align: center;
  font-size: 20px;
  font-family: "tour";
}

.itemInput {
  -webkit-appearance: none;
  width: 75px;
  height: 40px;
  background: #34547F;
  background-size: auto;
  border-radius: 5px;
  border: 2px solid #2B466A;
  display: inline-block;
  background-size: 75px 40px;
}
.itemInput:checked {
  background: url('../Images/UI/Modal/Checked.png');
  background-size: auto;
  background-size: 37px 37px;
}


.itemToggleDiv {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.36);
  border-radius: 8px;
  padding: 5px;
}

.itemToggleTxt {
  width: 100px;
  margin: 5px;
  height: 42px;
  display: inline-block;
  color: white;
  font-family: tour;
  line-height: 20px;
}

.scoreNumber {
  height: 40px;
}

.scoreComma {
  height: 14px;
}

.levelNumber {
  height: 40px;
  margin-top: 23px;
  margin-left: 72px;
  position: absolute;
}

.lvImg {
  position: absolute;
  bottom: 44px;
  right: 31px;
  width: 38px;
}

.itemImgPanel {
  position: absolute;
  bottom: 9px;
  left: 4px;
  width: 41px;
}

.pointsPanel {
  margin-top: 23px;
  text-align: center;
  position: absolute;
  bottom: 8px;
  right: 6px;
  width: 100%;
  text-align: right;
}

.selectItemDiv {
  background-color: rgba(0,0,0,0.36);
  padding: 4px;
  display: inline-block;
  min-width: 470px;
  text-align: center;
  overflow-y: auto;
}